services:
  proxy:
    container_name: ratemyubprof-proxy
    image: nginx:stable-alpine3.19
    ports:
      - "8000:80"
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - ratemyubprof
  app:
    image: dvnnfrr/ratemyubprof-api
    container_name: ratemyubprof-be
    volumes:
      - ./env.json:/app/env.json:ro
    restart: always
    depends_on:
      - db 
      - rabbitmq
    networks:
      - ratemyubprof 
  rabbitmq:
    image: rabbitmq:4.0-management
    container_name: ratemyubprof-rabbitmq
    volumes:
      - ./deploy/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      - rabbitmq-data:/var/lib/rabbitmq  
    networks:
      - ratemyubprof
  db:
    image: postgres:16.1
    container_name: ratemyubprof-db
    ports:
      - "7642:5432"
    environment:
      - POSTGRES_USER=${DB_USER} 
      - POSTGRES_PASSWORD=${DB_PASS} 
      - POSTGRES_DB=${DB_NAME} 
      - TZ=Asia/Jakarta
      - PORT=${DB_PORT}
    volumes:
      - ratemyubprof-data:/var/lib/postgresql/data 
    networks:
      - ratemyubprof
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${DB_USER} -d ${DB_NAME}'"]
      start_period: 5s
      interval: 15s
      timeout: 5s
      retries: 3

networks:
  ratemyubprof:
    driver: bridge
  
volumes:
  ratemyubprof-data:
  rabbitmq-data: