{
  "database": {
    "host": "localhost",
    "port": 5432,
    "user": "postgres",
    "password": "postgres",
    "name": "ratemyubprof",
    "sslmode": "disable"
  },
  "app": {
    "port": 80,
    "version": "1.0.0",
    "name": "ratemyubprof",
    "env": "development",
    "apikey": "apikeyvalue",
    "apikeyheader": "header"
  },
  "rabbitmq": {
    "host": "localhost",
    "port": 5672,
    "user": "guest",
    "password": "guest"
  },
  "logger": {
    "type": "development"
  },
  "jwt": {
    "atSecretKey": "",
		"atExpiredTime": 0,
		"rtSecretKey": "",
		"rtExpiredTime": 0
  }
}

